<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="NessAmazonAutomationSuite" verbose="1" parallel="none" thread-count="1">

    <!--
        Listeners currently registered via @Listeners on BaseTest.
        Will be moved here once tests are stable (backlog B6).
    -->

    <test name="Shopping Flow">
        <classes>
            <class name="com.ness.automation.tests.ShoppingFlowTest"/>
        </classes>
    </test>

</suite>
